<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332107825864-j1s9vd951hg9ouhdvhj9ligh252dm5vc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332107825864-j1s9vd951hg9ouhdvhj9ligh252dm5vc</string>
	<key>API_KEY</key>
	<string>AIzaSyBbzEhA_U2he9dT0TrX1f8Wh7iPhsIxEYA</string>
	<key>GCM_SENDER_ID</key>
	<string>332107825864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.yusa.ho.BookSearch</string>
	<key>PROJECT_ID</key>
	<string>booksearch-ca6db</string>
	<key>STORAGE_BUCKET</key>
	<string>booksearch-ca6db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332107825864:ios:9b65038b8fe323f3</string>
	<key>DATABASE_URL</key>
	<string>https://booksearch-ca6db.firebaseio.com</string>
</dict>
</plist>